@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap');

html{
    scroll-behavior: smooth;
}
*,
::before,
::after{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}
:root{
    --whiteColor: #FFFFFF;
    --blackColor: #000000;
    --greenColor: #2CAE64;
    --bgColor: #EFEFEF;
}
body{
    font-family: 'Roboto', sans-serif;
    background: var(--bgColor);
    color: var(--blackColor);
    font-size: 18px;
    max-width: 1500px;
    min-height: 100vh;
    margin: 0 auto;
}

/* Header */
.header{
    font-family: 'Vollkorn', serif;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
.header__logo{
    width: 10%;
}
.nav{
    width: 70%;
    align-self: center;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    text-transform: uppercase;
    list-style-type: none;
}
.button{
    width: 5%;
    height: 65px;
    font-size: 50px;
    align-self: center;
    text-align: center;
}
.link{
    text-decoration: none;
    color: var(--blackColor);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}
.link:hover{
    text-decoration: underline;
}
.burger__header{
    display: none;
}

/* Header Burger */

.header__burger{
    width: 35px;
    height: 25px;
    position: relative;
    left: 25px;
    bottom: -40px;
}
.burger__line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--blackColor);
    left: 0;
    position: absolute;
}
.burger__line_first{
    top: 0;
}
.burger__line_second{
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_third{
    height: 3px;
    bottom: 0;
}

/* Pop up */
.modal{
    display: none;
    position: fixed;
    left: 425px;
    top: 20px;
    z-index: 100;
    width: 650px;
    height: 660px;
    background: linear-gradient(177.09deg, #efefef 15%, var(--blackColor) 150%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
.modal-close{
    cursor: pointer;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    padding: 0.3em;
    font-size: 2em;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
}
.modal-close::after{
    position: absolute;
    line-height: 0.5;
    content: "\00D7";
    text-indent: 0;
    top: 0.2em;
    left: 0.1em;
}
.modal__title{
    font-family: 'Vollkorn', serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

/* Анимированная форма входа */
.form{
    text-align: center;
    padding: 100px;
}
.modal__body .user-box{
    position: relative;
}
.modal__body .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--blackColor);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--whiteColor);
    outline: none;
    background: transparent;
}
.modal__body .user-box label{
    font-family: 'Vollkorn', serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 22px;
    color: var(--whiteColor);
    text-shadow: 1px 1px 3px #000;
    pointer-events: none;
    transition: .5s;
}
.modal__body .user-box input:focus ~ label,
.modal__body .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #05dda0;
    font-size: 18px;
    padding-top: 5px;
}
.modal__body form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:#05dda0;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}
.modal__body a:hover{
    background: #05dda0;
    color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 5px #05dda0,
                0 0 25px #05dda0,
                0 0 50px#05dda0,
                0 0 100px #05dda0;
}
.modal__body a span{
    position: absolute;
    display: block;
}
.modal__body a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #05dda0);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1{
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
}
.modal__body a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #05dda0);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}
@keyframes btn-anim2{
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
}
.modal__body a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #05dda0);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}
@keyframes btn-anim3{
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
}
.modal__body a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #05dda0);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}
@keyframes btn-anim4{
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
}

/* Main */

/* Section Preview */
.background__color{
    max-width: 1500px;
    height: 100px;
    background-color: rgb(239, 239, 239, 0.8);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.9);
}
.preview__wrapper{
    display: flex;
    flex-wrap: wrap;
}
.preview{
    max-width: 1500px;
    height: 765px;
    margin: 0 auto;
    margin-top: -100px;
    background-image: url(img/frame_houses/14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
    width: 850px;
    display: 500px;
    margin: 70px 0 0 50px;
}
.mobile__preview{
    display: none;
}
.preview__title{
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
}
.subtitle{
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}
.btn{
    position: relative;
    width: 395px;
    height: 60px;
    margin: 20px 0 0 0;
    padding: 10px 25px;
    background-color: rgba(10, 57, 66, 0.8);
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 25px;
    color: var(--bgColor);
    cursor: pointer;
    letter-spacing: 1px;
}
.btn span{
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--flip));
}
@keyframes flip{
    0%, 80%{
        transform: rotateY(360deg);
    }
}
.btn:hover, .preview__phone:hover{
    background-color: var(--bgColor);
    color: var(--blackColor);
    transition: background-color .5s linear;
}
.call{
    margin: 50px;
    text-align: center;
}
.phone{
    width: 35%;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
.preview__phone{
    text-decoration: none;
    color: var(--bgColor);
    padding: 10px 30px;
    background-color: rgba(10, 57, 66, 0.7);
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 30px;
}

/* Section Houses */
.houses{
    text-align: center;
    margin: 100px 40px;
}
.houses__title{
    font-family: 'Vollkorn', serif;
    font-size: 40px;
}
.houses__subtitle{
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-size: 25px;
}
.gallery{
    margin-top: 80px;
}
.gallery img{
    width: 400px;
    padding: 10px;
}
.houses__bg{
    background-color: var(--whiteColor);
    padding: 20px;
}
.houses__background{
    margin: 100px;
    display: flex;
    justify-content: center;
}
.houses__img img{
    width: 130%;
}
.houses__text{
    margin-left: 150px;
    align-self: center;
    text-align: center;
}

/* Section Advantages */
.advantages{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    background-image: url(img/background/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.background__advantages{
    width: 100%;
    height: 400px;
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 5px;
}
.advantages__inner{
   width: 33%;
   padding: 0 10px;
   text-align: center;
}
.advantages__img img{
    width: 37%;
}
.advantages__title{
    text-transform: uppercase;
    font-size: 1.7em;
    font-weight: 900;
}
.advantages__text{
    font-style: italic;
    font-weight: 600;
    margin-top: 30px;
    font-size: 1.3em;
    text-shadow: 1px 1px 1px var(--bgColor);
}

/* Baths */
.baths{
    text-align: center;
    margin: 50px 40px;
}

/* Reviews */
.reviews{
    text-align: center;
    height: 100vh;
    background-image: url(img/bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 50px;
}
.reviews__profile{
    display: flex;
    margin: 0 auto;
    width: 60%;
}
.profile{
    width: 100%;
    height: 400px;
    padding: 20px;
    margin: 10px;
    border: 1px solid var(--bgColor);
    backdrop-filter: blur(5px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.reviews__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.images{
    margin: 0 auto;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.reviews__text{
    margin-top: 30px;
    color: var(--bgColor);
}
.rewievs__name{
    font-size: 25px;
    font-weight: 500;
    text-shadow: 2px 2px 1px var(--blackColor);
}
.reviews__t{
    margin-top: 20px;
    font-size: 17px;
    font-style: italic;
    text-shadow: 2px 2px 1px var(--blackColor);
}
button.slick-prev.slick-arrow::before{
    font-size: 45px;
    margin-left: -25px;
}
button.slick-next.slick-arrow::before{
    font-size: 45px;
}

/* Footer */
.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0, 0.7);
}
.footer__nav{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    text-transform: uppercase;
    list-style-type: none;
}
.fo{
    font-family: 'Roboto', sans-serif;
    align-self: center;
    font-size: 40px;
}
.f__phone:hover{
    color: var(--bgColor);
    transition: color 0.3s linear;
}
.foot{
    width: 55%;
}

/* Scrollup */
.scrollup{
    color: var(--whiteColor);
    background-color: var(--blackColor);
    width: 45px;
    text-decoration: none;
    height: 45px;
    opacity: 0.5;
    position: fixed;
    bottom: 70px;
    right: 90px;
    font-size: 2rem;
    border-radius: 5px;
    text-indent: 14px;
}
.up{
    line-height: 1.2;
    color: var(--whiteColor);
}
.scrollup:hover {
    background-color: var(--bgColor);
    color: var(--blackColor);
    transition: background-color 0.2s linear;
}


/* Адаптив */
@media (max-width: 391px){
    .header{
        display: none;
    }
    .burger__header{
        display: block;
        display: flex;
        width: 390px;
        height: 100px;
    }
    .background__color{
        max-width: 390px;
    }
    .burger__phone{
        align-self: center;
        margin-top: 5px;
        margin-left: -10px;
    }
    .burger__preview__phone{
        text-decoration: none;
        color: var(--blackColor);
        font-size: 25px;
        font-weight: 700;
        font-family: 'Vollkorn', serif;
    }
    .preview{
        display: none;
    }
    .preview__wrapper{
        background-color: rgb(255, 255, 255, 0.3);
    }
    .mobile__preview{
        display: block;
        max-width: 390px;
        height: 555px;
        margin: 0 auto;
        margin-top: -100px;
        background-image: url(img/mobile/1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .mobile__wrapper{
        text-align: center;
        margin-top: 50px;
    }
    .mobile__title{
        font-size: 28px;
        padding: 0 10px;
    }
    .mobile__subtitle{
        font-weight: 700;
        font-size: 20px;
        text-shadow: 1px 1px 5px var(--bgColor);
        margin-bottom: 40px;
    }
    .btn{
        position: relative;
        width: 350px;
        height: 60px;
        padding: 10px 25px;
        background-color: rgba(10, 57, 66, 0.8);
        border-radius: 5px;
        border: none;
        font-weight: 600;
        font-size: 25px;
        color: var(--bgColor);
        letter-spacing: 1px;
    }
    .btn span{
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        animation: flip 2s infinite;
        animation-delay: calc(.2s * var(--flip));
    }
    @keyframes flip{
        0%, 80%{
            transform: rotateY(360deg);
        }
    }
    .burger__nav{
        width: 65%;
        height: 220px;
        position: fixed;
        top: 10px;
        left: 90px;
        background-color: var(--blackColor);
        z-index: 100;
        padding: 10px;
        border-radius: 15px;
        transform: translateX(150%);
        transition: .2s all linear;
    }
    .burger__nav_active{
        transform: translateX(0);
    }
    .header__nav{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
    }
    .header__link{
        margin-bottom: 15px;
        width: 100%;
    }
    .b__link{
        color: var(--bgColor);
        text-transform: uppercase;
        text-decoration: none;
        font-family: 'Vollkorn', serif;
    }
    .header__nav-close{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 500;
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: var(--bgColor);
        top: 50%;
    }
    .header__nav-close-line:first-child{
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        transform: translateY(-50%) rotate(-45deg);
    }
    .houses{
        padding: 0;
        margin-top: 40px;
    }
    .houses__title{
        font-size: 35px;
        padding-top: 30px;
    }
    .houses__subtitle{
        width: 100%;
        padding: 0 20px;
    }
    .gallery img{
        width: 100%;
    }
    .houses__bg{
        text-align: center;
    }
    .houses__background{
        width: 100%;
        margin: 0px;
        padding: 10px;
    }
    .houses__img img{
        display: none;;
    }
    .houses__text{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .houses__title{
        width: 100%;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .call{
        padding: 0;
        margin: 0;
        margin-bottom: 50px;
    }
    .btn{
        width: 100%;
    }
    .advantages{
        flex-wrap: wrap;
    }
    .advantages__inner{
        width: 100%;
        margin-bottom: 20px;
        padding: 20px;
    }
    .reviews{
        padding: 0;
        height: 850px;
    }
    .reviews__profile{
        padding: 10px;
        width: 100%;
    }
    .profile{
        padding: 10px;
    }
    .reviews__img img{
        width: 100%;
    }
    .footer{
        width: 390px;
        flex-wrap: wrap;
        padding: 10px;
    }
    .footer__phone{
        font-size: 30px;
    }
    .foot{
        display: none;
    }
}
